# generated docs
/docs/erisplus/
/docs/api/
/docs/commands/

# configuration
etc/config.json
db/data.json
db/servers.json
db/people.json
db/timestamps.txt
dbackup

commands/scan.js
commands/pinger.js
commands/t.js
testBot.js
bfg.jar
Story/Outline.docx
Untitled-1.txt

node_modules

.vscode
.vs
.env
*.sln
*.njsproj
*.code-workspace
/coverage
/ffmpeg.exe
