# libraries
node_modules

# project files
.vs
*.njsproj
*.sln

# config files
/db/data.json
/db/people.json
/db/servers.json
/db/timestamps.txt
/etc/config.json
/.env
commands/scan.js
commands/pinger.js
commands/t.js
.vscode/settings.json
.vscode/launch.json
package-lock.json
/Story/

