etc/config.json
db/data.json
db/servers.json
db/people.json
db/timestamps.txt
dbackup

commands/scan.js
commands/pinger.js
commands/t.js
testBot.js
bfg.jar
Story/Outline.docx
Untitled-1.txt

node_modules
package-lock.json

.vscode
.vs
.env
*.sln
*.njsproj
